@import url("./normalize.css");
@import url("./scrollbar.css");
@import url("/src/shared/fonts/fs-mondwest/stylesheet.css");

:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --secondary-bg-color: #1c1c1c;
  --primary-color: #ff0000;
  --label-color: #8e8e93;
}

html {
  font-family: "FS Mondwest", Arial, serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100%;
}

body {
  display: block;
  overflow-x: hidden;
  height: 100vh;
}