.container {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* xs */
@media (max-width: 475px) {
    .container {
        gap: 8px;
    }
}

.full_price {
    color: var(--label-color);
    text-decoration: line-through;
}

.price {
    font-size: 16px;
}

/* sm */
@media (max-width: 640px) {
    .container {
        gap: 8px;
    }
    .price {
        font-size: 14px;
    }
    .full_price {
        font-size: 14px;
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        gap: 8px;
    }
    .price {
        font-size: 14px;
    }
    .full_price {
        font-size: 12px;
    }
}