.footer {
    display: initial;
    position: relative;
    background-color: black;
    color: white;
    border: 1px white solid;
    width: 100%;
}

.container {
    display: flex;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
}

/* xs */
@media (min-width: 475px) {
    .container {
        padding: 0 24px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        padding: 0 32px;
    }
}

/* md */
@media (min-width: 768px) {
    .footer {
        display: initial;
    }
    .container {
        padding: 0 40px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        padding: 0 100px;
    }
    .footer {
        display: initial;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        padding: 0 150px;
    }
    .footer {
        display: initial;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        padding: 0 200px;
    }
    .footer {
        display: initial;
    }
}