.button {
    background-color: rgb(76, 0, 0);
    color: white;
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    width: 100%;
    transition: opacity 0.2s;
    border: 1px white solid;
}
.button:active {
    transform: translate3d(2px, 2px, 2px);
}
.button:disabled {
    opacity: 0.35;
    cursor: not-allowed;
}

.text {
    font-size: 20px;
    font-weight: 600;
    text-transform: lowercase;
}