.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    box-shadow: 2px 5px 35px 8px #FF0000;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    aspect-ratio: 0.8 / 1;
    max-width: calc(100% - 44px);
    max-height: calc(100vh - 200px);
}

.image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: calc(100% - 44px);
        max-height: calc(100vh - 200px);
        aspect-ratio: 0.8 / 1;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        min-height: 200px;
        max-width: calc(100% - 44px);
        max-height: calc(100vh - 200px);
        aspect-ratio: 0.8 / 1;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        min-height: 200px;
        max-width: calc(100% - 44px);
        max-height: calc(100vh - 200px);
    }
}
