.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    background-color: #000;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
    width: 350px;
    height: 350px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.container:hover {
    scale: .97;
}

.text_container {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #fff;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.row_container {
    display: flex;
    justify-content: space-between;

}

.row_element {
    font-size: 16px;
}