.container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.bullet {
    transition: 0.25s ease-in-out;
}
.bullet:hover {
    opacity: 0.8;
}