.container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.bullet {
    transition: 0.25s ease-in-out;
}
.bullet:hover {
    filter: blur(1.5px);
}

@media (max-width: 325px) {
    .container {
        gap: 8px;
    }

    .bullet {
        font-size: 16px;
    }
    .bullet:hover {
        opacity: 1;
    }
}

/* xs */
@media (max-width: 475px) {
    .container {
        gap: 12px;
    }

    .bullet {
        font-size: 16px;
    }
    .bullet:hover {
        opacity: 1;
    }
}

/* sm */
@media (max-width: 640px) {
    .container {
        gap: 12px;
    }

    .bullet {
        font-size: 16px;
    }
    .bullet:hover {
        opacity: 1;
    }
}
