.main {
    flex: 1;
    padding: 16px 24px;
    display: flex;
    min-height: calc(100vh - 200px);
}

/* xs */
@media (min-width: 475px) {
    .main {
        padding: 16px 24px;
    }
}

/* sm */
@media (min-width: 640px) {
    .main {
        padding: 16px 24px;
    }
}

/* md */
@media (min-width: 768px) {
    .main {
        padding: 16px 40px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .main {
        padding: 16px 200px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .main {
        padding: 16px 200px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .main {
        padding: 16px 200px;
    }
}