.header {
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
    height: 100px;
}

.logo {
    position: fixed;
    cursor: pointer;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
}