.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input_container {
    display: flex;
    gap: 12px;
    align-items: center;
}

.remove__container {
    display: flex;
    cursor: pointer;
    height: 100%;
    align-items: center;
}
.remove__container:active {
    scale: 1.1;
}

.error {
    color: #FE0000;
}