.main__container {
    position: relative;
    padding: 40px 0;
    display: flex;
    gap: 16px;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    border-radius: 16px;
    color: white;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.text__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-x: hidden;
    padding-bottom: 16px;
}

.image_container {
    width: 500px;
    height: 500px;
}

.age-group-container {
    position: absolute;
    top: 12px;
    right: 16px;
}

.age-group {
    font-weight: 600;
}


/* xs */
@media (max-width: 475px) {
    .image_container {
        display: none;
    }
    .main__container {
        padding: 16px;
    }
}

/* sm */
@media (max-width: 640px) {
    .image_container {
        display: none;
    }
    .main__container {
        padding: 16px;
    }
}
