.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.title {
    font-weight: 500;
    font-size: 20px;
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: var(--label-color);
}


/* xs */
@media (max-width: 475px) {
    .title {
        font-size: 20px;
    }
    .description {
        font-size: 14px;
    }
}

/* sm */
@media (max-width: 640px) {
    .title {
        font-size: 20px;
    }
    .description {
        font-size: 14px;
    }
}

/* md */
@media (max-width: 768px) {
    .title {
        font-size: 20px;
    }
    .description {
        font-size: 14px;
    }
}
