.container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.navigation {
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
    transition: 0.25s ease-in-out;
}

.current {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
    filter: blur(1px);
}


@media (max-width: 768px) {
    .container {
        display: none;
    }
}
