.main {
    display: flex;
    gap: 20px
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.description {
    font-size: 24px;
    font-weight: 400;
}
