.container {
    position: relative;
    display: flex;
    gap: 16px;
    height: 100%;
    width: 100%;
    color: white;
}

.info-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.info-basic-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.event-info-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

/* xs */
@media (max-width: 475px) {
    .event-info-container {
        flex-wrap: wrap;
        gap: 8px;
    }
    .info-basic-container {
        gap: 8px;
    }
}

/* sm */
@media (max-width: 640px) {
    .event-info-container {
        flex-wrap: wrap;
        gap: 8px;
    }
    .info-basic-container {
        gap: 8px;
    }
}

/* md */
@media (max-width: 768px) {
    .event-info-container {
        flex-wrap: wrap;
        gap: 8px;
    }
    .info-basic-container {
        gap: 8px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .event-info-container {
        flex-wrap: wrap;
        gap: 8px;
    }
    .info-basic-container {
        gap: 8px;
    }
}

/* xl */
@media (min-width: 1280px) {

}

/* 2xl */
@media (min-width: 1536px) {

}
