.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header {
    font-weight: 500;
    font-size: 20px;
}

.dresscode {
    display: flex;
    gap: 40px;
    align-items: center;
}

.dresscode_label {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 20px;
    filter: blur(1.5px);
}

.time {
    opacity: 0.8;
}

.dateTime {
    display: flex;
    flex-direction: column;
}

.left__container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.right__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    margin-top: 32px;
    gap: 4px;
}

.ageGroup {
    color: var(--primary-color);
    filter: blur(1px);
    font-weight: 600;
    font-size: 24px;
}

.location {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.city {
    opacity: 0.8;
}

.dresscode_value {
    filter: blur(1px);
}


/* xs */
@media (max-width: 475px) {
    .header {
        font-size: 16px;
    }
    .dresscode {
        gap: 16px;
        font-size: 20px;
    }
    .dresscode_label {
        font-weight: 400;
        font-size: 16px;
        filter: blur(1px);
    }
    .dresscode_value {
        font-weight: 400;
        font-size: 16px;
    }
    .time {
        font-weight: 400;
    }
    .dateTime {
        font-size: 14px;
        font-weight: 400;
    }
    .ageGroup {
        font-weight: 400;
    }
    .location {
        font-size: 14px;
        font-weight: 400;
    }
    .city {
        font-size: 14px;
        font-weight: 400;
    }
}

/* sm */
@media (max-width: 640px) {
    .header {
        font-size: 16px;
    }
}

/* md */
@media (max-width: 768px) {
    .header {
        font-size: 16px;
    }
}