.main {
    position: relative;
    display: flex;
    gap: 16px;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    border-radius: 16px;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

.text__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-x: hidden;
    padding-bottom: 16px;
    padding-right: 8px;
}
.text__container::-webkit-scrollbar {
    width: 4px;
    display: block;
}

.text__container::-webkit-scrollbar-track {
    background: transparent;
}

.text__container::-webkit-scrollbar-thumb {
    background: var(--label-color);
    border-radius: 2px;
}

.image_container {
    width: 80%;
}

.total {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}


/* xs */
@media (max-width: 475px) {
    .image_container {
        display: none;
    }
    .main__container {
        padding: 16px;
    }
}

/* sm */
@media (max-width: 640px) {
    .image_container {
        display: none;
    }
    .main__container {
        padding: 16px;
    }
}

/* md */
@media (min-width: 768px) {
    .main__container {
        max-height: 400px;
    }
    .text__container {
        overflow-y: auto;
    }
}

.input__container {
    margin-top: 16px;
}
