.container {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    justify-content: center;
    color: #FF9500;
    background-color: #412601;
    border-radius: 16px;
}

.text {
    font-weight: 500;
    font-size: 12px;
}

/* xs */
@media (max-width: 475px) {
    .text {
        font-size: 10px;
    }
}

/* sm */
@media (max-width: 640px) {
    .text {
        font-size: 10px;
    }
}

/* md */
@media (max-width: 768px) {
    .text {
        font-size: 10px;
    }
}