.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* lg */
@media (min-width: 1024px) {
    .container {
        padding: 16px 100px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        padding: 16px 150px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        padding: 16px 200px;
    }
}
